venv-OpenVPN/bin
venv-OpenVPN/lib

# Terraform files
terraform/locals.tf
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/OpenVPN.pem
terraform/terraform.tfstate.backup
terraform/terraform.tfstate